@import url('//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic');
html {
    box-sizing: border-box;
    font-family: Roboto Mono;
    font-size: 18px;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: white;
    margin: 0;
}

p {
    margin-top: 0;
    bottom: 0.5rem;
}

a {
    color: 'red';
    text-decoration: none;
}

a:hover, a:focus {
    color: 'red';
    text-decoration: underline;
}

.slide {
    width: 100%;
    vertical-align: top;
    white-space: normal;
    display: inline-block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px indianred;
}

::-webkit-scrollbar-thumb {
    background: indianred;
    cursor: move;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(205, 92, 92, 0.6);
}
 */

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
    background: indianred;
}