<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600" rel="stylesheet" />

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
    </style>
</head>

<body>
    <div id="root"></div>
</body>

</html>